* {
  border: 0;
  padding: 0;
  margin: 0;
}

body {
  background-color: blue;
}

.flex_row {
  display: flex;
  flex-direction: row;
}

.top_nav {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  justify-content: space-between;
  background-color: white;
  width: 100%;
  height: 70px;
}

.logo {
  height: 100%;
  width: auto;
  border: 0.5px solid black;
  margin-left: 5px;
  img {
    height: 100%;
    width: auto;
    display: block;
  }
}

.navigation {
  height: auto;
  background-color: green;
  margin-right: 5px;
  a {
    // margin: 5px;
    // height: auto;
    // background-color:yellow;
    // display: inline-block;

    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
}

/* Article Part */

.main_body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  //   margin-bottom: 50px;
  //   height: 650px;
  //   //   margin-right: 15px;
  //   overflow: hidden;
  background-color: red;
}

.focus-article {
  flex: 1;
  display: flex;
  flex-direction: row;
  //   margin-bottom: 1%;
}

.small_articles {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  //   height: inherit;
  background-color: yellow;
}

.small_article {
  flex-basis: 32%;
  //   height: inherit;
  background-color: pink;
}

.small_articles img {
  //   width: 100%;

  /* Temp */
  width: 400px;
  height: 300px;
}

.focus-article-text {
  //   flex: 1;
  //   padding: 0 15px 0 5px;
  //   line-height: inherit;
  //   border: 1px solid none;
}

.focus-article-text a:link {
  //   color: black;
  //   text-decoration: none;
}

.focus-article-text a:visited {
  //   color: black;
  //   text-decoration: none;
}

.focus-article-text a:hover {
  //   color: #2596be;
  //   text-decoration: underline;
}

.focus-article-text a:active {
  //   color: #2596be;
  //   text-decoration: underline;
}

.focus-article-image {
  //   flex: 2;
}

.focus-article-image img {
  //   width: 100%;
}

.small_articles img {
  //   width: 100%;
}

.small_article a:link {
  //   color: black;
  //   text-decoration: none;
}

.small_article a:visited {
  //   color: black;
  //   text-decoration: none;
}

.small_article a:hover {
  //   color: #2596be;
  //   text-decoration: underline;
}

.small_article a:active {
  //   color: #2596be;
  //   text-decoration: underline;
}
