{% extends "constant.html" %}

{% block title %}Blogs{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/blogs_ss.css') }}" />

{% endblock %}

{% block content %}

<div class="main_block">

    <div class="article">  
        
        <div class='article_info'>
            <div class="post"><h2>Post</h2></div>
            <div class="title"><h1>Article title</h1></div>
            <div class="article_image">
                <img src="../static/images/single_fin.jpg"
                    alt="a messy beach in Cornwall"/>
            </div>
        </div>

        <div class="text">        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur quas natus excepturi repellat perferendis quam, qui aperiam non sapiente officia! Dignissimos, laudantium esse saepe sunt officiis autem maxime molestiae aliquam.</p>
        </div>

    </div>

    <div class="article">  
        
        <div class='article_info'>
            <div class="post"><h2>Post</h2></div>
            <div class="title"><h1>Article title</h1></div>
            <div class="article_image">
                <div>
                <img src="../static/images/single_fin.jpg"
                    alt="a messy beach in Cornwall"/></div>
            </div>
        </div>

        <div class="text">        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur quas natus excepturi repellat perferendis quam, qui aperiam non sapiente officia! Dignissimos, laudantium esse saepe sunt officiis autem maxime molestiae aliquam.</p>
        </div>

    </div>


    {% endblock %}