<!-- home.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home - SpaceShip Music </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home_ss.css') }}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>

<!-- Navigation bar-->
<div id="nav-placeholder">

</div>

<script>
$(function(){
//   $("#nav-placeholder").load("../../templates/nav.html");
  $("#nav-placeholder").load("{{ url_for('templates, filename='nav.html') }}");
});
</script>
<!--end of Navigation bar -->

    <div class="landing_sec">
        <img src="../static/images/spaceship.jpg" alt="Spaceship image" />
        <div class="text"> <h2>Spaceship Music</h2></div>
    </div>

    <div class="main_body">
      <!--  MAIN ARTICLE -->
      <div class="articles_container">
      <div class="focus_container flex_gap">

        <div class='focus_container_image'>
          <img
            src="../static/images/decompression.jpg"
            alt="woman wearing PPE takes a swab"
          />
        </div>

        <div class="focus_container_text">
          <h2>
            <a href="https://www.bbc.co.uk/news/health-55889391"
              >South Africa variant: Urgent Covid testing after community cases
              found</a
            >
          </h2>
          <p>
            Around 80,000 people in England will be offered urgent tests for the
            South Africa coronavirus variant after cases with no links to travel
            were found.
          </p>
          <div class="category-nav">
            <div class="clock-icon">O</div>
            <div class="time">8m</div>
            <div class="category">Health</div>
          </div>
          <ul>
            <li>hfkds dka ds</li>
            <li>hfkds dka ds</li>
            <li>hfkds dka ds</li>
          </ul>
        </div>

      </div>

               <!-- 3 HIGHLIGHTED ARTICLES -->
               <div class="side_container flex_gap">
                <div class="small_article">
             cd     <div class="small_article_image">
                     <img src="../static/images/cowbell.jpg"
                         alt="a messy beach in Cornwall"/>
                </div>
                         <div class="small_article_text">
                     <h3><a href="https://www.bbc.co.uk/news/uk-55890224">Covid: Boris Johnson 'optimistic' about summer holiday prospects</a></h3>
                     <p>Prime Minister Boris Johnson says he is "optimistic" people will be able to have summer holidays this year - but it depends on certain things going well.</p>
                          </div>
                </div>
                <div class="small_article">
                  <div class="small_article_image">
                    <img src="../static/images/DJOKO.jpg"
                        alt="a messy beach in Cornwall"/>
                  </div>
                        <div class="small_article_text">
                    <h3><a href="https://www.bbc.co.uk/news/uk-55890224">Covid: Boris Johnson 'optimistic' about summer holiday prospects</a></h3>
                    <p>Prime Minister Boris Johnson says he is "optimistic" people will be able to have summer holidays this year - but it depends on certain things going well.</p>
               </div>
              </div>
               <div class="small_article">
                 <div class="small_article_image">
                <img src="../static/images/single_fin.jpg"
                    alt="a messy beach in Cornwall"/>
                 </div>
                    <div class="small_article_text">
                <h3><a href="https://www.bbc.co.uk/news/uk-55890224">Covid: Boris Johnson 'optimistic' about summer holiday prospects</a></h3>
                <p>Prime Minister Boris Johnson says he is "optimistic" people will be able to have summer holidays this year - but it depends on certain things going well.</p>
                </div>
                </div>
            </div>
        </div>
      </div>
    </div>

<!-- Footer-->
<div id="footer-placeholder">

</div>

<script>
$(function(){
//   $("#nav-placeholder").load("../../templates/nav.html");
  $("#footer-placeholder").load("{{ url_for('templates, filename='nav.html') }}");
});
</script>
<!-- Footer -->


  </body>
</html>
